.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 20%;
}

.main div {
    display: flex;
    height: 100%;
}

input {
    padding: 2%;
}

input[type="button"] {
    background-color: brown;
    color: aliceblue;
    border: none;
    border-radius: 8%;
    margin-left: 1%;
    flex-grow: 1;
}

input[type="text"] {
    border: 1px solid brown;
    border-radius: 1%;
    width: 20%;
    flex-grow: 4;
}

h1 {
    margin: 10px;
}


@media screen and (max-width: 1300px) {
    .main {
        padding: 1% 5%;
    }
}